<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat The Burger!</title>
    {{!-- link to favicon --}}
    <link rel="icon" href="/assets/img/icon.png" />
    {{!-- link to bootstrap cdn --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    {{!-- link to customized css--}}
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    {{!-- link to jquery cdn--}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- link to customized js--}}
    <script src="/assets/js/burger_html.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>