.not-eaten {
  padding: 5px;
  background-color: white;
  max-width: 300px;
  margin-bottom: 10px;
}
.eaten {
  padding: 5px;
  height: 29.5px;
  background-color: beige;
  color: gray;
  max-width: 300px;
  margin-bottom: 10px;
}
button {
  padding: 5px;
}
body {
  background-color: rgb(255, 225, 90);
  margin: 0 auto;
  margin-left: 20px;
}
img{
    max-width: 150px;
}
